<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Bomb A$$ Burger</title>
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <link rel="stylesheet" href="/views/public/css/burger_style.css">
</head>
<body>
    <img src="/views/public/img/Burger_man.png" type="text/css" id="burger_man" alt="Burger Man">
   
    {{{body}}}

    <footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018</span>
				
			</div>
		</div>
	</footer>

</body>
</html>
